$NavBarColor: white;
$NavBarBordercolor: rgb(2, 2, 37);
$NavBarBordercolor2: #10103F;
$NavBarBordercolorLight: black;

$ColorGradient1: #32383F;
$ColorGradient2: #14181D;

$KeyBotColor: #00CDFF;

@mixin alignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin OpenNav {
    transition: height 600ms, width 600ms, transform 0ms, opacity 500ms, border 200ms, background-color 1s;
}

@mixin CloseNav {
    transition: border-radius 1s, width 600ms, height 250ms, transform 1s, background-color 1s;
}

@mixin GeneralBurguerConfig {
    position: relative;
    width:50px;
    height: 50px;
    cursor: pointer;
    // background-color: red;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    div {
        
        width: 100%;
        height: 8px;
        position: relative;
        background-color: rgb(6, 3, 22);
        border-radius: 50px;
        transition: width 500ms, transform 700ms, background-color 1s;
    }

    .line3{
        transition-delay: 500ms;
    }
}

@mixin XBurger{
    .line2{
        transform: translateY(18px) rotate(225deg);
        transition: transform 450ms, background-color 1s;
        transition-delay: 200ms;
        background-color: white;
    }

    .line3{
        // transform: translateX(5px);
        width: 0px;
        transition: width 100ms, background-color 1s;
        background-color: white;
    }

    .line4{
        transform: translateY(-15px) rotate(-225deg);
        transition: transform 450ms, background-color 1s;
        transition-delay: 200ms;
        background-color: white;
    }
}

.GlobalNavBar {
    z-index: 4;
    position: fixed;
    width: 98%;
    height: 90px;
    border-radius: 15px;
    box-shadow: 10px 10px 50px #123456;

    top: 15px;
    left: 1%;
    opacity: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(to right, rgb(6, 42, 88) , $KeyBotColor);

    p{
        font-size: 25px;
    }

    .Logo{
        position: relative;
        margin-left: 5%;
        text-shadow: 0px 0px 3px white;
        font-size:35px;
    }

    .LangNavBox{
        width: 150px;
        height: 80%;
        // background: white;
        margin-right: 5%;

        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .LangBox{
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 4px solid $NavBarBordercolor2;
            // background-color: white;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img{
                width: 100%;
                height: 100%;
                background-color: $NavBarBordercolor2;
                border-radius: 50%;
            }
        }
    
        .burguerNotClicked{
    
            @include GeneralBurguerConfig();

            .line1{
                @include CloseNav();
                width: 0;
                height: 0;
                position: absolute;
                opacity: 0;
                background: rgb(8, 2, 41);
                border: 4px solid white;
                border-radius: 50%;
                border-top: 2px solid white;
                border-left: 4px solid white;
                border-right: 2px solid white;
                border-bottom: 4px solid white;
    
                box-shadow: 0px 0px 5px $NavBarColor;

                transition: transform 500ms, width 500ms, height 500ms, opacity 500ms;
    
                .NavLinks{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background-color: $NavBarBordercolor;
                    border-radius: 50%;
                    visibility: hidden;
                    transition: visibility 1s;

                    li, img, p{
                        cursor: pointer;
                    }
    
                    li{
                        @include alignCenter();
                        position: absolute;
                        list-style: none;
                        font-size: 30px;
                        text-align: center;
                        // background-color: red;
                        
                        p{
                            @include alignCenter();
                            position: relative;
                            // background-color: red;
                            color: white;
                            opacity: 0;
                            width: 100%;
                            height: 100%;
                            font-size: 1.5rem;
                            text-align: center;

                            transition: opacity 500ms;
                        }

                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            transition: transform 1s, opacity 1s;
                        }
                    }
    
                    .link1, .link2, .link3, .link4{

                        width: 15%;
                        height: 15%;
                        opacity: 0;
                        transition: opacity 500ms;
                        
                        img{
                            width: 100%;
                            height: 100%;
                            transition: transform 1s, opacity 1s;
                        }
    
                        p{
                            top: 30%;
                            left: -10%;
                            transition: opacity 500ms;
                        }

                        &:hover p{
                            opacity: 1;
                            transition: opacity 1000ms;
                        }
    
                        &:hover img{
                            opacity: 0;
                            transform: rotate(315deg);
                            transition: transform 500ms, opacity 500ms;
                        }
                        
                    }

                    .link1{
                        top: 25%;
                        left: 10%;
                    }

                    .link2{
                        top: 50%;
                        left: 12%;
                    }   

                    .link3{
                        bottom: 10%;
                        left: 30%;
                    }   

                    .link4{
                        bottom: 12%;
                        right: 25%;
                    }   
                        
                }
            }
    
        }
    
        .burguerClicked {
    
            @extend .burguerNotClicked;
            @include XBurger();

            .line1{
                width: 400px;
                height: 400px;
                transform: translate(-8%, 15%);
                opacity: 1;

                .NavLinks{
                    visibility: visible;

                    .link1,.link2,.link3,.link4{
                        opacity: 1;
                    }

                    .link1{
                        transition-delay: 300ms;
                    }
                    .link2{
                        transition-delay: 400ms;
                    }
                    .link3{
                        transition-delay: 500ms;
                    }
                    .link4{
                        transition-delay: 600ms;
                    }
                }
            }

    
        }
    }

}


@media (max-width: 800px){

    .GlobalNavBar{
        .Logo{
            font-size: 25px;
        }
    }
}




