$NavBarColor: white;
$NavBarBordercolor: rgb(2, 2, 37);
$NavBarBordercolor2: #10103F;
$NavBarBordercolorLight: black;

$ColorGradient1: #32383F;
$ColorGradient2: #14181D;

$KeyBotColor: #00CDFF;

@mixin alignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin OpenNav {
    transition: height 600ms, width 600ms, transform 500ms, opacity 500ms, border 1s, background-color 1s;
}

@mixin CloseNav {
    transition: border-radius 1s, width 600ms, height 250ms, transform 1s, background-color 1s;
}

@mixin GeneralBurguerConfig {
    position: relative;
    width:50px;
    height: 50px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    div {
        width: 100%;
        height: 8px;
        position: relative;
        background-color: rgb(6, 3, 22);
        border-radius: 50px;
    }
}

.GlobalNavBar {
    z-index: 5;
    position: fixed;
    width: 98%;
    height: 90px;
    border-radius: 15px;
    box-shadow: 10px 10px 50px #123456;

    top: 15px;
    left: 1%;
    opacity: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(to right, rgb(6, 42, 88) , $KeyBotColor);

    p{
        font-size: 25px;
    }

    .Logo{
        position: relative;
        margin-left: 5%;
        text-shadow: 0px 0px 3px white;
        font-size:35px;
    }

    .LangNavBox{
        width: 150px;
        height: 80%;
        // background: white;
        margin-right: 5%;

        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .LangBox{
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 4px solid $NavBarBordercolor2;
            background-color: white;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 100%;
                height: 100%;
                background-color: $NavBarBordercolor2;
                border-radius: 50%;
            }
        }
    
        .burguerNotClicked{
    
            @include GeneralBurguerConfig();
    
            div{
                @include CloseNav();
            }
    
            .line1{
                .NavLinks{
                    display: none;
                }
            }
    
            .line4{
                position: absolute;
                opacity: 0;
            }
    
        }
    
        .burguerClicked {
    
            @include GeneralBurguerConfig();
    
            div{
                position: absolute;
                @include OpenNav();
            }
    
            li{
                cursor: pointer;
            }
    
            li, img{
                cursor: pointer;
            }
            li, p{
                cursor: pointer;
            }
    
            .line1{
                width: 400px;
                height: 400px;
                background: rgb(8, 2, 41);
                border: 4px solid white;
                display: block;
    
                border-radius: 50%;
    
                border-top: 4px solid transparent;
                border-left: 1px solid white;
                border-right: 1px solid white;
    
                box-shadow: 0px 0px 5px $NavBarColor;
    
                transform: translate(-50%,8%) rotate(45deg);
    
                .NavLinks{
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    text-align: center;
                    position: relative;
    
                    li{
                        position: absolute;
                        list-style: none;
                        font-size: 30px;
                        text-align: center;

                        transform: rotate(-45deg); 
                        
                        p{
                            @include alignCenter();
                            top: 0%;
                            position: absolute;
                            color: white;
                            opacity: 0;
                            width: 100%;
                            height: 100%;
                            font-size: 1.5rem;
                            text-align: center;

                            justify-self: center;
                            transition: opacity 500ms;
                        }

                        img{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            transition: transform 1s, opacity 1s;
                        }
                    }
    
                    .link1{
                        width: 15%;
                        height: 15%;
                        bottom: 25%;
                        left: 10%;
    
                        &:hover p{
                            opacity: 1;
                            transition: opacity 1000ms;
                        }
    
                        &:hover img{
                            opacity: 0;
                            transform: rotate(315deg);
                            transition: transform 500ms, opacity 500ms;
                        }
    
                    }
    
                    .link2{
                        width: 15%;
                        height: 15%;
                        bottom: 12%;
                        left: 30%;
    
                        &:hover img{
                            opacity: 0;
                            transform: rotate(315deg);
                            transition: transform 500ms, opacity 500ms;
                        }
    
                        &:hover p{
                            opacity: 1;
                            transition: opacity 1000ms;
                        }
                    }
    
                    .link3{
                        width: 15%;
                        height: 15%;
    
                        bottom: 10%;
                        left: 55%;
    
                        &:hover img{
                            opacity: 0;
                            transform: rotate(315deg);
                            transition: transform 500ms, opacity 500ms;
                        }
    
                        &:hover p{
                            opacity: 1;
                            transition: opacity 1000ms;
                        }
    
                    }
    
                    .link4{
                        width: 15%;
                        height: 15%;
    
                        bottom: 27%;
                        left: 75%;
    
                        &:hover img{
                            opacity: 0;
                            transform: rotate(315deg);
                            transition: transform 500ms, opacity 500ms;
                        }
    
                        &:hover p{
                            opacity: 1;
                            transition: opacity 1000ms;
                        }
    
                    }
                        
                }
            }
        
            .line2{
                @extend .line1;
    
                width: 250px;
                height: 250px;
    
                transform: translate(-35%,-5%) rotate(50deg);
            }
    
            .line3{
                transform: rotate(220deg);
                background-color: white;
            }
    
            .line4{
                transform: rotate(-220deg);
                background-color: white;
            }
    
        }
    }

}


@media (max-width: 800px){

    .GlobalNavBar{
        .Logo{
            font-size: 25px;
        }
        .TeamNumber{
            font-size: 45px;;
        }
    }

    .GlobalNavBar .burguerClicked .line1 .NavLinks{        

        .link1{
            bottom: 28%;
            left: 6%;
        }

        .link2{
            bottom: 13%;
            left: 25%;
        }

        .link3{
            left: 48%;
            bottom: 8%;
        }

        .link4{
            left:70%;
            bottom: 20%;
        }
    }  
}

@media (min-width: 1900px){

    .GlobalNavBar{
        height: 120px;
    }
}

