@import "./NavBar";
@import "./HomeStyle";
@import "./AboutStyle";
@import "./ContactStyle";
@import "./LoginStyle";
@import "./UserCreatedStyle";
@import "./PhoneOpt";
@import "./MonitorOpt";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
    
    font-weight: bolder;
}

body{
    background-color: rgb(6, 3, 22);
}

.App {
    // background: linear-gradient(to top, #041323, #273E58);
    position: absolute;
    background-color: rgb(6, 3, 22);
    width:100%;
    height: 100vh;
    color: white;
    z-index: -1;

}

